
  a {
    color: inherit;
    text-decoration: none; }


  .ba-hero{
    min-height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: url(../img/hero.png);
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
}  

.ba-hero__title{
  font-size: 2rem;
}
.container {
  /* max-width: 1770px;
  width: 100%;
  padding: 8 8px; */
  margin: 0 auto;
}
.ba-button{
  height: 50px;
  line-height: 50px;
  border: 2px solid transparent;
  background-color: #5474fd;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem;
  transition: .4s;
  
}

.ba-subscribe-form{
  display: flex;
  justify-content: center;
  padding-top: 40px;
 
}

.ba-hero__scroll{
  display: contents;
}

.ba-hero__btn-arrow{
  display: flex;
  justify-content: center;
}

.ba-header{
  height: 80px;
  background-color: #5474fd;
  display: flex;

}

.ba-header__title{
  color: #fff;
  padding-left: 47px;
}

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;}
  .ba-menu__item + .ba-menu__item {
    margin-left: 40px; }

.ba-header__menu{
  display: flex;
  justify-content: space-between;
}

.ba-info__choose{
  min-height: calc(100vh - 88px);
  display: flex;
  align-items: center;
  text-align: initial;
  color: #fff;
  background-image: url(../img/Rectangle.png);
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
}

.ba-info__title{
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}


.ba-info__text-block{
  width: 535px;
  height: 134px;
  padding-left: 50px;
}

.ba-info__image1{
  display: block;
  margin-left: 315px;

}
.ba-info__image2{
  display: block;
  margin-left: 414px;

}

.ba-info__imgs{
  justify-content: space-between;
}

.ba-button__info{
  width: 230px;
  height: 64px;
  line-height: 50px;
  border: 2px solid transparent;
  background-color: #5474fd;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem;
  transition: .4s;
  
}