
a {
    color: inherit;
    text-decoration: none; 
    }


  .ba-hero{
    min-height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: url(../img/hero.png);
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
}  


.ba-hero__title{
  font-size: 3rem;
    font-weight: 700;
    margin: 0
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.ba-button{
  color: #fff;
    background-color: #5474fd;
    border: 2px solid white;
    height: 60px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 0.875rem;
    transition: .4s;
    padding: 0 2em;
}

.magn {
  width: 20px;
  height: 22px;
  margin-top: 3px;
  margin-left: 5px;
}

.ba-subscribe-form{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
 
}

.ba-input{
    height: 60px;
    padding: 1em;
    border: 1px solid #fff;
    border-right: none;
    flex-grow: 1;
    font-weight: 400;
    text-align: center;
}
.ba-subscribe-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}

.ba-hero__scroll{
  display: contents;
}

.ba-hero__btn-arrow{
  display: flex;
  justify-content: center;
}

.ba-header{
  background-color: #5474fd;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ba-header__title{
  color: #fff;
  padding-left: 47px;
}

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;}
  .ba-menu__item + .ba-menu__item {
    margin-left: 40px; 
}

.ba-header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ba-info__choose{
  min-height: calc(100vh - 88px);
  display: flex;
  align-items: center;
  text-align: initial;
  color: #fff;
  background-image: url(../img/Rectangle.png);
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
}

.ba-info__title{
  font-family: 'Aleo', serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 65px;
}


.ba-info__text-block{
  width: 535px;
  height: 134px;
 margin-left: 10%;
}

.ba-info__image1{
  margin-left: 65%;

}
.ba-info__image2{
  margin-left: 100%;

}

.ba-button__info{
  width: 230px;
  height: 64px;
  line-height: 50px;
  border: 2px solid transparent;
  background-color: #5474fd;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  
}

.ba-selection{
  min-height: 150px;
  background-color: #333333;
  padding: 94px 0 123px;
}

.selection-container{
  display: flex;
    justify-content: space-around;
}

.search{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.selection-text{
  color: #fff;
    font-size: 2rem;
    font-family: 'Aleo', serif;
    margin-top: 27px;
}

.like, .select, .search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.svgsearch {
  width: 58px;
  height: 57px;
}

.svgselect {
  width: 60px;
  height: 60px;
}

.svglike {
  width: 62px;
  height: 60px;
}

.spain-1{
  padding: 225px 0 108px;
    min-height: 700px;
    background-image: url(../img/spain1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.spain-2{
  padding: 225px 0 108px;
    min-height: 700px;
    background-image: url(../img/spain2.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.spain-block{
  background-color: rgba(0, 0, 0, 0.7);
    width: 540px;
    height: 370px;
    padding: 45px 45px 45px 25px;
    margin-left: 200px;
}
.spain-block-2{
  background-color: rgba(0, 0, 0, 0.7);
    width: 540px;
    height: 370px;
    padding: 45px 45px 45px 25px;
    margin-left: 800px;
}

.spain__title{
  margin: 24px 0;
}

.btn-spain{
  height: 60px;
    width: 225px;
    color: #fff;
    background-color: #5474fd;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.ba-tourist{
  padding: 104px 0 200px;
    min-height: 732px;
    background-image: url(../img/tourist_layer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.ba-tourist__title{
  text-align: center;
    font-size: 2rem;
    font-family: 'Aleo', serif;
    color: #fff;
    font-weight: 400;
    padding-bottom: 30px;
}

.ba-tourist-block{
  display: flex;
  width: 1000px;
    margin-left: 18%;
}

.ba-tourist__story{
  background-color: #333333;
    width: 100%;
    color: #fff;
    padding: 40px 55px 40px 25px;
    font-size: 0.875rem;
}

.ba-tourist__name{
  font-size: 1.25rem;
}

.ba-tourist__“{
  font-size: 80px;
    color: #5474fd;
    height: 25px;
    float: left;
    padding-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 20px;
}

.ba-footer {
  text-align: center;
  padding: 110px 0 48px;
  min-height: 270px;
  background-color: #232323;
}

.ba-footer__title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.ba-footer__text {
  color: #fff;
  font-weight: 400;
  margin: 10px 0 30px;
  font-size: 1rem;
}